#Esse arquivo é um exemplo de configuração para o ambiente local.
#Ele deve ser renomeado para .env.local e preenchido com as chaves de API necessárias para o funcionamento do bot
#Certifique-se de manter este arquivo seguro e não compartilhá-lo publicamente, pois ele contém informações sensíveis.

#Database connection
DATASOURCE_URL=url_do_seu_banco
DATASOURCE_USERNAME=user_do_banco
DATASOURCE_PASSWORD=senha_do_banco

JWT_SECRET=secret_string_hexadecimal
JWT_EXPIRATION="86400000" (pode mudar para o que preferir)

SERVER_PORT=8080 (pode mudar para o que preferir)